@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Gravitas+One&family=Oswald:wght@200..700&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    background: yellow;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    line-height: 1.25em;

}